*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top:0px;
}

#navbar::before{
    content: "";
    background-color: #212121;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 100%;

}
/* Logo and Image */
#logo{
    margin: 10px 34px;
   
}

#logo img{
    height: 59px;
    margin: 3px 6px;

}

/* Nav Bar List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);
}
#login{
        display: flex;
        justify-content: left;
        margin-left:500px;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 387px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 71%;
    width: 100%;
    top:0px;
    left:0px;
    z-index: -2;
    opacity: 90%;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility class */
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 10px;
}

.center{
    text-align: center;
}
